<body class="testy">
    PUPPIES PAGE
    <div class="gallery">
      <img src="../../assets/images/smokey.png">
      <img src="../../assets/images/smokey.png">
      <img src="../../assets/images/smokey.png">
      <img src="../../assets/images/smokey.png">
      <img src="../../assets/images/smokey.png">
      <img src="../../assets/images/smokey.png">
      <img src="../../assets/images/smokey.png">
      <img src="../../assets/images/smokey.png">
      <img src="../../assets/images/smokey.png">
      <img src="../../assets/images/smokey.png">
      <img src="../../assets/images/smokey.png">
      <img src="../../assets/images/smokey.png">
      <img src="../../assets/images/smokey.png">
      <img src="../../assets/images/smokey.png">
    </div>
</body>